<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
 <connectionStrings>
  <add name="OracleDB" connectionString="Data Source=DESKTOP-7R2AHUF:1521/XE;DBA PRIVILEGE=SYSDBA;PERSIST SECURITY INFO=True;USER ID=VER3;PASSWORD=VER3;" />
  <add name="WindowsFormsApp1.Properties.Settings.ConnectionString"
   connectionString="DATA SOURCE=DESKTOP-7R2AHUF:1521/XE;DBA PRIVILEGE=SYSDBA;PASSWORD=VER3;PERSIST SECURITY INFO=True;USER ID=VER3"
   providerName="Oracle.ManagedDataAccess.Client" />
 </connectionStrings>
</configuration>